.about img {
  max-width: 100%;
  min-width: 100%;
  object-position: center;
  object-fit: cover;
}
.aboutContent {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
.aboutContent {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
.span-about:hover {
  font-size: 48px;
  color: rgb(206, 206, 206);
}
