<section class="about-content">
  <div class="heading">
    <img class="me-image" src="{{ 'data:image/jpg;base64,' + u.picture }}" />
    <h1>{{ u.name }}</h1>
    <p>
      {{ u.about }}
    </p>
    <h3 class="cd-headline clip">
      <span>
        <b class="is-visible mail">{{ u.email }}</b>
      </span>
      <br />
      <span>
        <b class="is-visible">Age_{{ u.age }}</b> </span
      ><br />
      <br />
      <span>
        <b class="is-visible">{{ u.address }}</b> </span
      ><br />
    </h3>
  </div>
</section>
