<div class="section wb">
  <div class="container">
    <div class="row motiv-row">
      <div class="message-box">
        <h2 class="motiv">
          "Peu importe à quel point le passé est difficile, vous pouvez toujours
          recommencer."
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="message-box">
          <p>
            {{ u.motivation }}
          </p>
        </div>
        <!-- end messagebox -->
      </div>
      <!-- end col -->
      <div class="col-md-6">
        <div class="talan-img">
          <img src="assets\talan.jpg" alt="" class="img-fluid img-rounded" />
        </div>
        <!-- end media -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end section -->
